/* ================= Global ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Questrial;
}

.btn {
  color: white;
  border: none;
  background: rgb(78, 56, 177);
  padding: 10px;
  border-radius: 20px;
  width: 80px;
  border: 3px solid transparent;
  transition: border 0.5s ease;
  transition: background 0.5s ease;
}

.btn:hover {
  background: rgb(255, 255, 255);
  border: 3px solid rgb(78, 56, 177);
  color: rgb(78, 56, 177);
  font-weight: 600;
}

.btn-container {
  border-top: 1px solid rgb(172, 172, 172);
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  padding-top: 25px;
}

/* ===================HERO==================== */

.Hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
}

.Hero-SideImage {
  background: rgb(30, 40, 68);
}

.Hero-SideImage img {
  width: 100%;
  opacity: 0.6;
  min-height: 100%;
}

.Hero-Main {
  background: rgb(250, 250, 250);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Hero-Nav {
  margin: 20px 30px;
}

.Hero-Nav ol {
  display: flex;
  font-size: 1.2rem;
}

.Hero-Nav ol > li,
.Hero-Nav ol > a {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  color: black;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
}

.Hero-Nav ol li:hover {
  border-bottom: 2px solid rgb(78, 56, 177);
}

.Hero-Nav-MainText {
  color: rgb(43, 43, 43);
  margin: 50px;
}

.Hero-Nav-MainText h1 {
  font-size: 5rem;
}

.Hero-Nav-MainText span {
  font-size: 1.5rem;
}

.Hero-Nav-Button {
  margin-left: 60px;
}

/* ===============PROJECT==================== */

.Project {
  background: rgb(245, 245, 245);
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 100vh;
  padding: 30px 0;
}

.Project-Details {
  display: flex;
  align-items: center;
  position: relative;
  /* width: 66%; */
}

.Project-Image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 33%; */
}

.Mobile-Image {
  height: 70vh;
  border-radius: 10px;
}

.Project-Details-Box {
  background: white;
  margin: 50px;
  padding: 50px;
  padding-bottom: 25px;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 5px 5px 14px 0px rgb(212, 212, 212);
  /* height: 80vh; */
}

.Project-Details-Box-Title {
  padding-bottom: 20px;
}

.Project-Details-Box p {
  padding-right: 30%;
  padding-bottom: 20px;
}

.Round-Icon {
  display: inline-block;
  padding: 25px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Features-Box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap; */
}

.Feature h3 {
  padding: 20px 0;
}

.Project-Strip {
  height: 40%;
  width: 100%;
  z-index: -10;
  position: absolute;
  background: rgb(255, 174, 0);
}

.Slider-Control {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.Slide_Right,
.Slide_Left {
  box-shadow: 5px 5px 14px 0px rgb(212, 212, 212);
}

/* ====================================== */

.Mobile-Cover {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  height: calc(70vh + 20px);
  box-shadow: 5px 5px 14px 0px rgb(212, 212, 212);
  margin-bottom: 2rem;
}

.Mobile-Cover img {
  display: none;
}

#Active_Img {
  display: block !important;
}

.Space {
  width: 200px;
}

/* ============MEDIA================== */

@media only screen and (max-width: 960px) {
  .Hero {
    grid-template-columns: 1fr;
  }

  .Hero-SideImage {
    display: none;
  }

  .Project {
    flex-direction: column;
    grid-template-columns: none;
  }

  .Project-Details-Box {
    margin: 10px;
    padding: 20px;
  }

  .Features-Box {
    grid-template-columns: 1fr;
  }
}
