/* ================= Variable ===================== */

:root {
  --primary-color: #6c63ff;
  --bg-color-white: rgb(255, 255, 255);
  --bg-color: rgb(250, 250, 250);

  --icon-red-bg: rgb(255, 202, 202);
  --icon-red-color: rgb(255, 107, 107);

  --icon-green-bg: rgb(210, 236, 148);
  --icon-green-color: rgb(125, 177, 105);

  --icon-blue-bg: rgb(148, 208, 236);
  --icon-blue-color: rgb(59, 142, 236);

  --icon-yellow-bg: rgb(253, 240, 164);
  --icon-yellow-color: rgb(241, 206, 50);
}

/* ================= Global ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Questrial;
}

body {
  width: 100%;
}

.btn {
  color: white;
  border: none;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  width: 80px;
  border: 3px solid transparent;
  transition: border 0.5s ease;
  transition: background 0.5s ease;
}

.btn:hover {
  background: rgb(255, 255, 255);
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
}

.btn-container {
  border-top: 1px solid rgb(172, 172, 172);
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  padding-top: 25px;
}

/* ===================ICONS==================== */

.icon_red {
  background: var(--icon-red-bg);
}
.icon_red > i {
  color: var(--icon-red-color);
}

.icon_green {
  background: var(--icon-green-bg);
}
.icon_green > i {
  color: var(--icon-green-color);
}

.icon_blue {
  background: var(--icon-blue-bg);
}
.icon_blue > i {
  color: var(--icon-blue-color);
}

.icon_yellow {
  background: var(--icon-yellow-bg);
}
.icon_yellow > i {
  color: var(--icon-yellow-color);
}

/* ===================HERO==================== */

.Hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
}

.Hero-SideImage {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.Hero-SideImage object {
  width: 100%;
}

.Hero-Main {
  background: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}

.Hero-Nav ol {
  display: flex;
  font-size: 1.2rem;
}

.Hero-Nav ol > li,
.Hero-Nav ol > a {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  color: black;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
}

.Hero-Nav ol li:hover {
  border-bottom: 2px solid var(--primary-color);
}

.Hero-Nav-MainText {
  color: rgb(43, 43, 43);
}

.Hero-Nav-MainText h1 {
  font-size: 5rem;
}

.Hero-Nav-MainText span {
  font-size: 1.5rem;
}

.Hero-Nav-Button {
  margin-bottom: 60px;
}
/* ===============PROJECT==================== */

.ProjectHeader {
  width: 100%;
  font-size: 1.8rem;
  background: var(--primary-color);
  height: 20vh;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
  overflow: hidden;
}

.ProjectHeader-Image {
  height: 100%;
}

#ProjectHeader_Left {
  transform: rotate(-20deg) scale(1.5, 1.5);
}
#ProjectHeader_Right {
  transform: rotate(40deg) scale(2, 2);
}

.Project {
  background: rgb(245, 245, 245);
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 100vh;
  padding: 30px 0;
}

.Project-Details {
  display: flex;
  align-items: center;
  position: relative;
}

.Project-Image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Mobile-Image {
  height: 70vh;
  border-radius: 10px;
}

.Project-Details-Box {
  background: white;
  margin: 50px;
  padding: 50px;
  padding-bottom: 25px;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 5px 5px 14px 0px rgb(212, 212, 212);
  width: 100%;
}

.Project-Details-Box-Title {
  padding-bottom: 20px;
}

.Project-Details-Box p {
  /* padding-right: 30%; */
  padding-bottom: 20px;
}

.Round-Icon {
  display: inline-block;
  padding: 25px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Features-Box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap; */
}

.Feature h3 {
  padding: 20px 0;
}

.Project-Strip {
  height: 40%;
  width: 100%;
  z-index: -10;
  position: absolute;
  background: rgb(255, 174, 0);
}

.Slider-Control {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.Slide_Right,
.Slide_Left {
  box-shadow: 5px 5px 14px 0px rgb(212, 212, 212);
}

/* ====================================== */

.Mobile-Cover {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  height: calc(70vh + 20px);
  box-shadow: 5px 5px 14px 0px rgb(212, 212, 212);
  margin-bottom: 2rem;
}

.Mobile-Cover img {
  display: none;
}

#Active_Img {
  display: block !important;
}

.Space {
  width: 200px;
}

#Typewriter {
  color: var(--primary-color);
}

.Slide_Left,
.Slide_Right {
  background: var(--bg-color-white);
}

/* ============MEDIA================== */

@media only screen and (max-width: 960px) {
  .Hero {
    grid-template-columns: 1fr;
  }

  .Hero-SideImage {
    display: none;
  }

  .Project {
    flex-direction: column;
    grid-template-columns: none;
  }

  .Project-Details {
    grid-template-columns: 1fr;
  }

  .Project-Details-Box {
    margin: 10px;
    padding: 20px;
    text-align: center;
  }

  .Features-Box {
    grid-template-columns: 1fr;
  }

  .ProjectHeader {
    height: 15vh;
  }

  .ProjectHeader-Image {
    height: 70%;
  }

  #ProjectHeader_Left {
    display: none;
  }

  .Round-Icon {
    margin: auto;
  }
}
